body{
    color: #404040;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

.mapbody{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.map_body_top{
    width: 100%;
    height:100vh;
    background:rgb(255, 255, 255); 
    display: flex;
}

navbar{
    width: 100%;
    background-color: #1d3557;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navbar{
    padding-right: 60px;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    padding: 10px 70px 10px 20px;
}
.navbar_option{
    display: flex;
}

.logo img{
    margin-left: 4rem;
    height: 40px;
    width: 200px;
}

/* .navbar  li{
    border:2px solid white;
    border-radius: 3rem;
    height: 30px;
    display: flex;
    align-items: center;
} */

/* .navbar  li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */


.sidebar {
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.map {
    width: 100%;
}

h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
}

.heading h4{
    margin-top: 0px;
}

a {
    color: #404040;
    text-decoration: none;
}

a:hover {
    color: #101010;
}

.heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    min-height: 60px;
    line-height: 60px;
    padding: 0 10px;
    background-color: #457b9d;
    color: #fff;
}


.listings {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
}

.listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
}

.listings .item:last-child {
    border-bottom: none;
}
.listings .item .title {
    display: block;
    color: #457b9d;
    font-weight: 700;
}

.listings .item .title small {
    font-weight: 400;
}
.listings .item.active .title,
.listings .item .title:hover {
    color: #457b9d;
}
.listings .item.active {
    background-color: #f8f8f8;
}
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: #457b9d;
    border-radius: 0;
}

.marker {
    background-image: url("images/marker.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}


.clearfix {
    display: block;
}
.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Marker tweaks */
.mapboxgl-popup {
    padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
    display: none;
}
.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    width: 180px;
}
.mapboxgl-popup-content-wrapper {
    padding: 1%;
}
.mapboxgl-popup-content h3 {
    background: #457b9d;
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
    font-size: 15px;
}

.mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px 10px 10px 10px;
    font-weight: 400;
    font-size: 15px;
}

.mapboxgl-popup-content div {
    padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #457b9d;
}


.footer{
    background-color: #1d3557;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:800px) {
    .footer{
        height: 300px;
    }
}

@media only screen and (max-width:500px) {
    .footer{
        height: 500px;
    }
}

.footer_heading{
    width: 80%;
    height: 80%;
    /* background-color: rgb(218, 218, 218); */
    display: flex;
}
.footer_header_one{
    width: 50%;
    height: 100%;
    /* background-color: rgb(126, 73, 73); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_logo_n_text{
    display: flex;
    flex-direction: column;
    /* background-color: #8cc63f; */
}
.logo_n_text{
    /* background-color: #00853e; */
    margin: 0.5rem;
    display: flex;
    align-items: center;
}
.location_icon{
    background-color: #3d3d3b41;
    border-radius: 2rem;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
}
.location_text{
    color: white;
}

.footer_header_two{
    width: 50%;
    height: 100%;
    /* background-color: rgb(65, 38, 38); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_two_text{
    display: flex;
    flex-direction: column;
    /* background-color: #8cc63f; */
}
.footer_two_text_container{
    /* background-color: #00853e; */
    margin: 0.5rem;
    display: flex;
    align-items: center;
}
.footer_two_text_first{
    color: white;
}
.footer_two_text_second{
    color: rgb(196, 196, 196);
}
.footer_two_text_third{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_two_text_third:hover{
    cursor: pointer;
}
.footer_two_social_card{
    background-color: #404040;
    border-radius: .2rem;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
}

.exit-intent-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(33, 33, 33, 0.8);
    transform: translateY(60%) scale(0);
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.exit-intent-popup.visible {
    z-index: 5;
    transform: translateY(0) scale(1);
}
.newsletter {
    background-color: #1d3557;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    align-items: center;
    justify-content: center;
}
.email{
    height: 30px;
}
.close{
    background-color: #457b9d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 85%;
    left: 95%;
}
.skipnlogout{
    background-color: #ffffff00;
    /* position: relative; */
    display: flex;
    justify-content: center;
    color: white;
}

.bottom_button{
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: space-around;
}

.box{
  }
  
  .btn:link,
  .btn:visited{
    text-decoration: none;
    text-transform:uppercase;
    position:relative;
    top:0;
    left:0;
    padding:5px 20px;
    border-radius:100px;
    display:inline-block;
    transition: all .5s;
  }
  
  .btn-white{
    background:#fff;
    color:#000;
  }
  
  .btn:hover{
     box-shadow:0px 10px 10px rgba(0,0,0,0.2);
     transform : translateY(-3px);
  }
  
  .btn:active{
    box-shadow:0px 5px 10px rgba(0,0,0,0.2)
    transform:translateY(-1px);
  }
  
  .btn-bottom-animation-1{
    animation:comeFromBottom 1s ease-out .8s;
  }
  
  .btn::after{
    content:"";
    text-decoration: none;
    text-transform:uppercase;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius:100px;
    display:inline-block;
    z-index:-1;
    transition: all .5s;
  }
  
  .btn-white::after {
      background: #fff;
  }
  
  .btn-animation-1:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
  }
  
  @keyframes comeFromBottom{
    0%{
      opacity:0;
      transform:translateY(40px);
    } 
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }


  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 70%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
